* {
    padding:0;
    margin:0;
}

html{
    font:14px normal Arial, sans-serif;
    color:#626771;
    background-color:#fff;
}

body{
    padding:60px;
    text-align: center;
}

ul{
    list-style:none;
    display: inline-block;
}

ul li{
    display: inline-block;
    padding: 10px 20px;
    cursor:pointer;
    background-color:#eee;
    color:#7B8585;
    
    transition:0.3s;
}

ul li:hover{
    background-color:#E093FF;
}

ul li.focused{
    color:#fff;
    background-color:#BC1AFF;
}

p{
    padding-top:15px;
    font-size:12px;
}

/*-----------LIST--------------*/
#products{
    text-transform: uppercase;
    text-align: left;
    font-size: 20px;
    list-style: none;
    display: inline-block;
    width: 340px;
    text-align: left;
}

#products p{
    display: block;
    padding: 15px 20px;
    background-color: #F8F8F8;
    color: #7B8585;
    margin-bottom: 3px;
    position: relative;
    cursor: pointer;
    
    transition: 0.3s;
}

#products p b{
    position: absolute;
    right: 28px;
    line-height: 16px;
    width: 100px;
    color: #808787;
    text-align: right;
}

#products p:hover{
    background-color:#E093FF;
}


/*--------Buttons +/- --------------*/
#changeButton {
    background-color: #FFF;
    list-style: none;
    display: inline-block;
    font-size: 15px;
    width: 20px;
    text-align: left;
    text-align: center;
    padding: 0px;
    margin-left: 2px;
}

#changeButton p:hover{
    background-color:#E093FF;
}

#order {
    background-color:#eee;
    min-height: 25px;
    list-style: none;
    display: inline-block;
    width: 20px;
    text-align: left;
    text-align: center;
    padding: 0px;
    margin-left: 2px;
    width: 340px;
}

#order p:hover{
    background-color:#E093FF;
}
@import url(http://fonts.googleapis.com/css?family=Nunito:300);

a    { text-decoration: none; }
p    { text-align: center; }
sup  { font-size: 36px; font-weight: 100; line-height: 55px; }

#order
{
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #0C5;

  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  
  
  padding: 20px 0;

  background: #BC1AFF;
  border: 1px solid #BC1AFF;
  color: #FFF;
  overflow: hidden;
  
  transition: all 0.5s;
}

#order:hover, #order:active 
{
  text-decoration: none;
  color: #BC1AFF;
  border-color: #BC1AFF;
  background: #FFF;
}

#order span 
{
  display: inline-block;
  position: relative;
  padding-right: 0;
  
  transition: padding-right 0.5s;
}

#order span:after 
{
  content: ' ';  
  position: absolute;
  top: 0;
  right: -18px;
  opacity: 0;
  width: 10px;
  height: 10px;
  margin-top: -10px;

  background: rgba(0, 0, 0, 0);
  border: 3px solid #FFF;
  border-top: none;
  border-right: none;

  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform: rotate(-45deg);
}

#order:hover span, #order:active span 
{
  padding-right: 30px;
}

.button:hover span:after, .button:active span:after 
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #0C5;
  right: 0;
  top: 50%;
}